.write.svelte-e12qt1{display:flex;background-color:#fff3;align-self:center;justify-self:center;margin:10px;padding:10px;border-radius:10px;width:50vw}footer.svelte-e12qt1{display:flex;width:100%;justify-content:center;align-content:end}
